@tailwind base;
@tailwind components;
@tailwind utilities;
.map{
  width:50%;
  height:40rem
}
body{
  color: black;
}
@layer components{
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
}